__pycache__/
*.py[cod]
*$py.class
*.so
.ruff_cache/
.mypy_cache/
.tox/
*.egg-info/
*.swo
venv/
.venv/
.cache/
develop-eggs/
.eggs/
.coverage
Thumbs.db
.Python
.pytest_cache/
.env
*.log
build/
htmlcov/
